@using System.Globalization;
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer localizer
@model ApplicationUser


<h1>@localizer["Delete User"]</h1>
    


<h3>@localizer["Are you sure you want to delete this?"]</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @localizer["User Name"]
            @*@Html.DisplayNameFor(model => model.UserName)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @localizer["Full Name"]
            @*@Html.DisplayNameFor(model => model.FirstName)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>*@
            <dt class = "col-sm-2">
            @localizer["Email"]
            @*@Html.DisplayNameFor(model => model.Email)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value=@localizer["delete"] href="Index" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-warning">@localizer["Back to List"]</a>
    </form>
</div>
