@model ApplicationUser
<h1>User Details</h1>
<div>
    <hr />
   <div class="row">
       @* <dl class="row col">
            <dt class="col-sm-2 ">
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
            <dd class="col-sm-10 ">
                @Html.DisplayFor(model => model.UserName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-10 ">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class="col-sm-10 ">
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10 ">
                @Html.DisplayFor(model => model.Email)
            </dd>
        </dl>*@

        <div class="col-12 col-md-6">
            <table class="table">
                <thead>
                    <tr>
                     
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">@Model.FirstName</th>
                        <td scope="row">@Model.LastName</td>
                        <td scope="row">@Model.Email</td>

                    </tr>

                </tbody>
            </table>
      </div>

          <div class="col-12 col-md-6"> 
            @if (Model.ProfilePicture is not null)
            {
                <img id="picture" style="width:100px ; height:400px" class="col" alt="profile" src="data:image/*;base64,@(Convert.ToBase64String(Model.ProfilePicture))" />
            }
            else
            {
                <img id="picture" class="w-100 h-75" alt="profile" src="~/img/download.png" />
            }
             </div>
    </div>
</div>
<div> 
    <a asp-action="Index">Back to List</a>
</div>
