@model WebApplication1.Models.Cart

@{
    ViewData["Title"] = "Details";
}

<h1>@localizer["details"]</h1>

<div>
    @*<h4>@localizer["cart"]</h4>*@
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @localizer["CreationDate"]

        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class = "col-sm-2">
            @localizer["Discount"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discount)
        </dd>
        <dt class = "col-sm-2">
            @localizer["PaymentDate"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentDate)
        </dd>
        <dt class = "col-sm-2">
            @localizer["TotalCost"]

        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCost)
        </dd>
        <dt class = "col-sm-2">
            @localizer["StatusId"]

        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusId)
        </dd>
        <dt class = "col-sm-2">
            @localizer["CardTypeId"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardTypeId)
        </dd>
        <dt class = "col-sm-2">
            @localizer["CartStatusId"]

        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CartStatusId)
        </dd>
    </dl>
</div>
<div>
            <div class="form-group ">
                <a class="btn btn-warning" asp-action="Index">@localizer["back"]</a>
            </div>
</div>
