@model IEnumerable<WebApplication1.Models.Cart>

@{
    ViewData["Title"] = "Index";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@localizer["index"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">@localizer["index"]</a></li>
                    <li class="breadcrumb-item active">@localizer["buys"]</li>
                </ol>
            </div>

        </div>
    </div><!-- /.container-fluid -->
</section>

<div class="card-header">
    <div class="row">
        <div class="col-sm-4">
            <h3 class="card-title"></h3>
        </div>
        <div class="row col-sm-8 ">
            <form asp-action="Index">
                <div class="d-inline-flex">
                    <button type="submit" class="col-2 btn btn-lg btn-default">
                        <i class="fa fa-search"></i>
                    </button>
                    <input type="search" name="Filter" onchange="document.getElementById('btnSubmit').click();" class=" form-control form-control-lg col-lg-8" placeholder="@localizer["placeholderbuy"]">

                 @*<a class="col-2 mx-2 btn btn-primary d-flex" href="/Carts/Create">@localizer["create"]</a>*@
                </div>
            </form>

        </div>
    </div>
</div>

<p>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @localizer["CreationDate"]
            </th>
            <th>
                @localizer["Discount"]

            </th>
            <th>
                @localizer["PaymentDate"]

            </th>
            <th>
                @localizer["TotalCost"]

            </th>
            <th>
                @localizer["StatusId"]

            </th>
            <th>
                @localizer["CardTypeId"]

            </th>
            <th>
                             
                @localizer["CartStatusId"]

            </th>
            <th>

                @localizer["operation"]

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CartStatusId)
            </td>
                <td class="col-2">
                    <div class="btn-group d-flex justify-content-center">
                        <a asp-action="Delete" asp-route-id="@item.Id" type="button" class="btn btn-danger">
                            <i class="fa fa-trash"></i>
                        </a>
                        <a asp-action="Details" asp-route-id="@item.Id" type="button" class="btn btn-info">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a asp-action="Edit" asp-route-id="@item.Id" type="button" class="btn btn-warning">
                            <i class=" fa fa-hand-point-right"></i>
                        </a>
                    </div>
                </td>
        </tr>
}
    </tbody>
</table>
