@*@model Dashboard.MVC.ViewModel.CategoryViewModel*@
@model WebApplication1.Models.Category

@{
    ViewData["Title"] = "Create";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@localizer["create"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">@localizer["home"]</a></li>
                    <li class="breadcrumb-item active">@localizer["create"]</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<hr />
<div class="container justify-content-center">
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                    <label asp-for="Name" class="control-label">@localizer["name"]</label>
                <input asp-for="Name" class="form-control" />
            </div>
         
                    <div class="form-group">
                    <label asp-for="Image" class="control-label">@localizer["image"]</label>
                    <input type="file" name="imgFile" class="form-control text-dark" value=@localizer["nofilechosen"]/>
                    </div>
            <div class="form-group">
                    <label asp-for="Description" class="control-label">@localizer["description"]</label>
                <input asp-for="Description" class="form-control" />
            </div>
            <div class="form-group">
                    <div class="form-group ">
                    <input type="submit" value=@localizer["create"] class="btn btn-primary w-25" />
                                </div>
                 <div class="form-group ">
                                    <a class="btn btn-warning" asp-action="Index">@localizer["back"]</a>
            </div>
        </form>
    </div>
</div>


</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
