@model WebApplication1.Models.Category

@{
    ViewData["Title"] = "Details";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@localizer["details"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">@localizer["home"]</a></li>
                    <li class="breadcrumb-item active">@localizer["details"]</li>
                </ol>
            </div>

        </div>
    </div><!-- /.container-fluid -->
</section>
        <hr />
        
        <dl class="row">
            <dt class="col-sm-2">
                @localizer["name"]
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt class="col-sm-2">
        @localizer["image"]

            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Image)
            </dd>
            <dt class="col-sm-2">
        @localizer["description"]

            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
   
    <div class="form-group">
        <button class="btn btn-primary ">
            <a asp-action="Edit" asp-route-id="@Model?.Id"><strong class="text-light">@localizer["edit"]</strong></a>

        </button>
        <button class="btn btn-warning ">
            <a asp-action="Index"><strong class="text-dark">@localizer["back"]</strong></a>
        </button>
    </div>

