@model IEnumerable<WebApplication1.Models.Category>

@{
    ViewData["Title"] = "Index";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@localizer["index"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">@localizer["index"]</a></li>
                    <li class="breadcrumb-item active">@localizer["categories"]</li>
                </ol>
            </div>

        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-4">
                                <h3 class="card-title"></h3>
                            </div>
                            <div class="row col-sm-8 ">
                                <form asp-action="Index">
                                    <div class="d-inline-flex">
                                <button type="submit" class="col-2 btn btn-lg btn-default">
                                    <i class="fa fa-search"></i>
                                </button>
                                    <input type="search" name="Filter" onchange="document.getElementById('btnSubmit').click();" class=" form-control form-control-lg col-lg-8" placeholder="@localizer["search"]">

                                    <a class="col-2 mx-2 btn btn-primary d-flex" href="/Categories/Create">@localizer["create"]</a>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-striped dataTable dtr-inline">
                            <thead>
                                <tr>
                                    <th>
                                        @localizer["no"]
                                    </th>
                                    <th>
                                        @localizer["name"]
                                    </th>
                                    <th>
                                        @localizer["image"]
                                    </th>
                                    <th>
                                        @localizer["description"]
                                    </th>
                                    <th class="col-2">
                                        @localizer["operation"]
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int rowNo = 0;
                                }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @(rowNo += 1)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                         @if(item.Image !=null)
                                            {
                                            <img src="@item.Image" style="width:100%;height:100px;" class="img-thumbnail" />
                                            }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>

                                        <td class="col-2">
                                            <div class="btn-group d-flex justify-content-center">
                                            
                                                <a asp-action="Edit" asp-route-id="@item.Id" type="button" class="btn btn-warning">
                                                    
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <a asp-action="Delete" asp-route-id="@item.Id" type="button" class="btn btn-danger">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                                <a asp-action="Details" asp-route-id="@item.Id" type="button" class="btn btn-info">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                            <tfoot>
                                <tr class="d-none">
                                    <th>Name</th>
                                    <th>Name</th>
                                    <th>Name</th>
                                    <th>Name</th>

                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->