@model WebApplication1.Models.CreditCard

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CreditCard</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MasterExpDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MasterExpDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MasterBalance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MasterBalance)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
