@page
@using System.Globalization;
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
@{
    var isrtl = CultureInfo.CurrentCulture.Name.StartsWith("ar");
}


<div style="margin-left:10px" class="row justify-content-center">
    <div class="col-md-10">
       
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2 class="text-center">@localizer["createnewaccount"]</h2>
            <hr />
              <div class="w-50 m-auto form-floating mb-3">
                <label asp-for="Input.FirstName">@localizer["firstname"]</label>
                <input asp-for="Input.FirstName" class="text-end  form-control" aria-required="true" placeholder="First Name" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="w-50 m-auto form-floating mb-3">
                <label asp-for="Input.LastName">@localizer["lastname"]</label>
                <input asp-for="Input.LastName" class="text-end  form-control" aria-required="true" placeholder="Last Name" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="w-50 m-auto form-floating mb-3">
                <label asp-for="Input.Email">@localizer["email"]</label>
                <input asp-for="Input.Email" class="text-end  form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="w-50 m-auto form-floating mb-3">
                <label class="control-label">@localizer["userRole"]</label>
                <select tabindex="7" required asp-for="Input.RoleId" class="form-control" asp-items="ViewBag.RoleId"></select>
                <span class="invalid-feedback">Choose User Role</span>

            </div>
            <div class="w-50 m-auto form-floating mb-3">
                <label asp-for="Input.Password">@localizer["password"]</label>
                <input asp-for="Input.Password" class="text-end form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="w-50 m-auto form-floating mb-3">
                <label asp-for="Input.ConfirmPassword">@localizer["passordconfirm"]</label>
                <input asp-for="Input.ConfirmPassword" class="text-end  form-control" autocomplete="new-password" aria-required="true" placeholder="ConfirmPassword" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="w-25 m-auto mt-3" style="margin-top:1rem !important">
                <button id="registerSubmit" type="submit" class="w-100  btn btn-lg btn-primary">@localizer["rig"]</button>

            </div>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
@*            <h3>Use another service to register.</h3>
*@            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    //<div>
                    //    <p>
                    //        There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                    //        about setting up this ASP.NET application to support logging in via external services</a>.
                    //    </p>
                    //</div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div class="mt-3">
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
