@page
@using System.Globalization;
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer localizer
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

@{
    var isrtl = CultureInfo.CurrentCulture.Name.StartsWith("ar");
}


<partial name="_StatusMessage" for="StatusMessage" />
<form id="profile-form" method="post" enctype="multipart/form-data">
<div class="row">
    <div class="col-md-6">
            <h3 class=" @(isrtl?"text-start":"text-end")">@localizer["profile"]</h3>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <label class="form-label ">@localizer["username"]</label>
                <input asp-for="Username" class="form-control @(isrtl?"text-end":"text-start")" placeholder="Please choose your username." disabled />
            </div>

            <div class="form-floating mb-3">
                <label class="form-label">@localizer["firstname"]</label>
                <input asp-for="Input.FirstName" class="form-control @(isrtl?"text-end":"text-start")" placeholder="@localizer["firstname"]" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
             <div class="form-floating mb-3">
                <label class="form-label">@localizer["lastname"]</label>
                <input asp-for="Input.LastName" class="form-control @(isrtl?"text-end":"text-start")" placeholder="@localizer["lastname"]" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>

               <div class="form-floating mb-3">
                <label class="form-label">@localizer["phonenumber"]</label>
                <input asp-for="Input.PhoneNumber" class="form-control @(isrtl?"text-end":"text-start")" placeholder="@localizer["phonenumber"]" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">@localizer["save"]</button>     
    </div>
    <div class="col-md-6">
        <div class="form-group h-100">
            <label asp-for="Input.ProfilePicture" class="form-label w-100 h4"></label>
                @if(Model.Input.ProfilePicture is not null)
                {
                    <img id="picture" class="w-75 h-75"  alt="profile" src="data:image/*;base64,@(Convert.ToBase64String(Model.Input.ProfilePicture))" />
                }
                else
                {
                    <img id="picture" class="w-75 h-75" alt="profile" src="~/img/download.png" />
                }
                <div>
                    <input type="file"
                        accept="image/*"
                        asp-for="Input.ProfilePicture"
                        value="Choose picture"
                           onchange="document.getElementById('picture').src=window.URL.createObjectURL(this.files[0])" />
                       
                    <span asp-validation-for="Input.ProfilePicture" class="text-danger"></span>
                </div>
        </div>

    </div>
</div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
