@model WebApplication1.Models.Product
@using System.Globalization;

@{
    ViewData["Title"] = "Delete";
}
@{
    var isrtl = CultureInfo.CurrentCulture.Name.StartsWith("ar");
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2 ">
            <ol class="breadcrumb">
                <li class="breadcrumb-item @(isrtl ? "text-start" : "text-end")"><a asp-controller="Home" asp-action="Index">@localizer["home"]</a></li>
                <li class="breadcrumb-item  active"><a asp-controller="Products" asp-action="Index">@localizer["product"]</a></li>
                <li class="breadcrumb-item active">@localizer["delete"]</li>
            </ol>
        </div>
    </div><!-- /.container-fluid -->

</section>
<section class="content">
    <div class="container-fluid">

        <div>
            <h3>@localizer["msgdelete"]</h3>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @localizer["name"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
                    @localizer["discount"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountPercent)
        </dd>
        <dt class = "col-sm-2">
                    @localizer["description"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discription)
        </dd>
        <dt class = "col-sm-2">
                    @localizer["feature"]

                </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFeatured)
        </dd>
        <dt class = "col-sm-2">
                    @localizer["quantity"]

                </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
                    @localizer["price"]

                </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value=@localizer["delete"] class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-warning">@localizer["back"] </a>
    </form>
</div>
</div>
</section>
