@using System.Globalization;
@model IEnumerable<WebApplication1.Models.Product>

@{
    ViewData["Title"] = "Index";
}

@{
    var isrtl = CultureInfo.CurrentCulture.Name.StartsWith("ar");
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2 ">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item @(isrtl ? "text-start" : "text-end")"><a asp-controller="Home" asp-action="Index">@localizer["home"]</a></li>
                    <li class="breadcrumb-item active @(isrtl ? "text-start" : "text-end")">@localizer["product"]</li>
                </ol>   
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-2">
               
            </div>
            <div class="col-sm-10">
                    <form asp-action="Index">
                <ol class="breadcrumb float-sm-right">
                       <li> <button type="submit" id="btnSubmit" class="btn btn-lg btn-default">
                            <i class="fa fa-search"></i>
                        </button></li>
                    <li><input type="search" name="Filter" onchange="document.getElementById('btnSubmit').click();" class="form-control form-control-lg" placeholder=@localizer["searchprd"] value=""></li>
                        <li>
                            <select name="FilterBrand" onchange="document.getElementById('btnSubmit').click();" class="form-control form-control-lg" asp-items="ViewBag.BrandId">
                                <option selected disabled value="">@localizer["searchbrand"]</option>

                        </select>
                    </li>
                        <li>
                            <select name="FilterCategory" onchange="document.getElementById('btnSubmit').click();" class="form-control form-control-lg" asp-items="ViewBag.CategoryId">
                                <option selected disabled value="">@localizer["searchcat"]</option>
                        </select>
                    </li>


                        <a class="btn btn-primary" style="margin-left: 0.5em;" href="/Products/Create">@localizer["create"]</a>
                </ol>
                    </form>
            </div>

        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table text-center table-bordered table-striped dataTable dtr-inline">
                            <thead>
                                <tr>
                                    <th>
                                        @localizer["no"]
                                    </th>
                                    <th>
                                        @localizer["name"]
                                    </th>
                                    <th>
                                        @localizer["discount"]
                                    </th>
                                    <th class="d-none d-md-block">
                                        @localizer["description"]
                                    </th>
                                    <th>
                                        @localizer["quantity"]
                                    </th>
                                    <th>
                                        @localizer["price"]
                                    </th>
                                    <th class="d-none d-md-block">
                                        @localizer["brand"]
                                    </th>
                                    <th class="col-2">
                                        @localizer["operation"]
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int rowNo = 0;
                                }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @(rowNo += 1)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DiscountPercent)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Discription)
                                        </td>
                                       
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Quantity)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UnitPrice)
                                        </td>
                                       
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Brand.Name)
                                        </td>
                                       
                                        <td class="col-2">
                                            <div class="btn-group d-flex justify-content-center">

                                                <a asp-action="Edit" asp-route-id="@item.Id" type="button" class="btn btn-warning">

                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <a asp-action="Delete" asp-route-id="@item.Id" type="button" class="btn btn-danger">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                                <a asp-action="Details" asp-route-id="@item.Id" type="button" class="btn btn-info">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                            <tfoot>
                                @*<tr class="d-none">
                                    <th>Name</th>
                                    <th>Name</th>
                                    <th>Name</th>
                                    <th>Name</th>
                                    <th>Name</th>
                                    <th>Name</th>
                                    <th>Name</th>
                                    <th>Name</th>
                                    
                                </tr>*@
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
